@page
@model IndexModel

<!DOCTYPE html>
    <head>
        <title>KSUCS K-12 Outreach Map</title>
        <link type="text/css" rel="stylesheet" href="css/site.css">
    </head>
    <body>

        <partial name="_MapSvg"/>

    </body>
</html>